body {
    font-family: 'Helvetica','Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    font-size: .9em;
    color: #57534a;
    background-color: #eee;
}

#header {
    height: 40px;
}

#banner {
    background-color: #333;
    color: #f7f7f7;
    height: 180px;
}

#main h1 {
    background-color: #333;
    color: #f7f7f7;
    height: 60px;
    line-height: 60px;
}

#project {
    font-size: 40px;
    font-weight: bold;
}
#byline {
    font-size: 20px;
    font-weight: bold;
}

#main {
    margin: 0 auto;
}

.guts {
    width: 940px;
    margin: 0 auto;
}

a {
    color: #005580;
    text-decoration: none;
}

a:hover {
    color: #005580;
    text-decoration: underline;
}

#header > ul {
    list-style: none;
    height: 100%;
    vertical-align: middle;
}

#header > div {
    float: left;
    padding: 10px 15px 10px;
}

#header {
    border-bottom: 1px solid #333;
}

#header > ul {
    float: right;
}

#header > ul > li {
    line-height: 20px;
    float: left;
}

#header > div > a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

#header > div > a:hover {
    text-decoration: underline;
}


#header > ul > li > a {
    float: none;
    padding: 10px 15px 10px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

#header > ul > li > a:hover {
    text-decoration: underline;
}

.section {
    margin-bottom: 40px;
}
.section > div {
    float: left;
}

.section > div.details  {
    margin-top: 10px;

}

pre.prettyprint {
    background-color: #ddd;
    color: black;
}

pre.prettyprint > ol > li {
    margin-left: 40px;
}

#content {
    width: 940px;
    margin: 0 auto;
}

pre.prettyprint > ol {
    list-style:decimal;
}



pre {
    border: 1px solid black;
    background-color: #333;
    color: white;

    font-size: 14px;
}
.section > div.title {
    width: 300px;
    font-wight: bold;
    font-size: 28px;
}

a.blocklink {
    color: #333;
    text-decoration: none;
}

a.blocklink > div {
    padding-left: 20px;
    border-left: 10px solid #aaa;
}

a:hover.blocklink > div {
    border-left: 10px solid #333;
}

.section > div.details {
    width: 600px;
}

.section::before, .section::after {
    display: table;
    content: "";
    zoom: 1;
}

.section::after {
    clear: both;
}

#developers > div.details > ul {
    list-style: none;
}

h6 {
    margin-bottom: 5px;
}
