name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 25
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: ./sbt -v
           -jvm-opts .github/workflows/.jvmopts
           scalafmtSbtCheck
           "+scalafmtCheckAll"
           "+mimaReportBinaryIssues"
           "+Test/compile"
           "+jvmParent/test"
           "+nativeParent/test"
           "project jsParent"
           testSequentialCross
  latest:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: 21
        distribution: temurin
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: ./sbt -v
           -jvm-opts .github/workflows/.jvmopts
           "++ 3.7.1!"
           scalafmtCheckAll
           Test/compile
           jvmParent/test
           nativeParent/test
           "project jsParent"
           testSequential
  wasm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: 21
        distribution: temurin
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 22
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: ./sbt -v
           -jvm-opts .github/workflows/.jvmopts
           -Dscala_js_wasm
           "project jsParent"
           testSequential
