name: CI
on:
  pull_request:
  push:
    branches: [ "series/6.2.x" ]
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      matrix:
        include:
          - java: 8
          - java: 8
            name: scala-native
          - java: 11
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: coursier/cache-action@v8
    - uses: sbt/setup-sbt@v1
    - run: |
        case "${{ matrix.name }}" in
          "scala-native")
            sbt -v \
            "+nativeParent/mimaReportBinaryIssues" \
            "+nativeParent/test" \
            "+nativeTest/run"
            ;;
          *)
            sbt -v \
            "+mimaReportBinaryIssues" \
            "+Test/compile" \
            "+jvmParent/test" \
            "project jsParent" \
            testSequentialCross
            ;;
        esac
