name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 25
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: ./sbt -v
           -jvm-opts .github/workflows/.jvmopts
           scalafmtSbtCheck
           "+scalafmtCheckAll"
           "+mimaReportBinaryIssues"
           "+Test/compile"
           "+jvmParent/test"
           "+nativeParent/test"
           "project jsParent"
           testSequentialCross
  latest:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 21
        distribution: temurin
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: ./sbt -v
           -jvm-opts .github/workflows/.jvmopts
           "++ 3.8.0-RC4!"
           scalafmtCheckAll
           "all jvmParent/Test/compile jsParent/Test/compile"
           jvmParent/test
           "project jsParent"
           testSequential
  wasm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 21
        distribution: temurin
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 22
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: ./sbt -v
           -jvm-opts .github/workflows/.jvmopts
           -Dscala_js_wasm
           "project jsParent"
           testSequential
