name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'argonaut-io' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: 89628
        private-key: ${{ secrets.ARGONAUT_BOT_KEY }}
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@91f0a480668e574d7d1b413b19ee8240c56cd629 # v2.81.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74832392+argonaut-bot[bot]@users.noreply.github.com"
        author-name: argonaut-bot[bot]
        branches: "master,series/6.2.x"
